* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: lightslategray;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  place-content: end center;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 5px;
}

.content > p {
  color: #72f1b8;
}

p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  margin: 2rem;
  padding-top: 0.2rem;
}

video {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  padding-right: 5rem;
  padding-left: 5rem;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

a {
  color: black;
}

nav {
  /* flex-flow: wrap; */
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  background-color: blanchedalmond;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

li {
  display: inline;
}

/* section */
.section_3 {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  gap: 1rem;

  padding-block: 4rem;
  background: lightslategray;
}
.section_1 {
  padding: 1rem;
}

.section_2 {
  padding: 1rem;
}

/* -gallery-*/
.gallery {
  width: 100%;
  padding-top: 3rem;
}

.gallery img {
  height: 100%;
  object-fit: cover;
}

/* billder */
.content-wrapper {
  width: 100%;
  margin: 4% 10% 5% 10%;
}

.content-wrapper img {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  align-items: center;
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin: 1rem;
}

.text-wrapper h1 {
  position: absolute;
  text-align: center;
  color: lightyellow;
  font-size: 3rem;
  font-family: "Permanent Marker", cursive;
  font-size: 6rem;
}

.column {
  float: left;
  width: 33.33%;
}

.column1 {
  width: 70%;
  padding-top: 2rem;
  max-width: 90%;
}
